body {
  background: papayawhip;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
}

.a,
.b,
.c,
.d,
.e,
.f {
  background-color: #d8d8d8;
  border: 1px solid #5e5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.a {
  flex: 1;
}

.b {
  flex: 3;
}

.c,
.d,
.e {
  flex: 1;
}

.inline {
  display: flex;
  flex: 1;
  gap: 30px;
}

.a,
.f {
  flex: 1;
}